**/target
**/Cargo.lock
**/*.rs.bk
**/.vscode
*.out
*expanded*.rs
**/bin
**/output
run*.sh
*.ansi
*.log
*.tmp
*.swp
.DS_Store
TODO
/.cargo
/.github
**/bin
**/node_modules
**/output*
!process_management/prrte-src/prrte/src/tools/prte_info/output.c
lamellar_env.sh
**/cargo-home
lamellar-container/built
lamellar-container/local-src